* {
	margin: 0;
	font-family: futura;
}

body {
	background-image: url('img/hands.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	color: white;
	padding: 2em 20em;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	display: inline;
}

.content-wrapper {
	background-color: rgba(0,0,0,.5);
	text-align: center;
	border-radius: .5em;
	padding: 1em;
}

.head {
	text-align: center;
	background-color: rgba(255,255,255,.5);
	margin: 1em 12em;
	border-radius: .5em;
}

.timer {
	background-color: rgba(0,0,0,.5);
	margin: 1em 20em;
	border-radius: .5em;
}

.timeText {
	color: black;
}

input[type="text"] {
    height: 1.5em;
    margin-bottom: .5em;
}

.timeButton {
	background-color: black;
	border: none;
	color: white;
	margin: .5em 0;
}

.stats {
	background-color: rgba(0,0,0,.5);
	margin: 1em 18em;
	border-radius: .5em;
}

.statsButton {
	background-color: white;
	border: none;
	margin: .5em 0;
}

.statsText {
	color: black;
}

.handBox {
	display: inline-block;
	border: 3px solid white;
	border-radius: .5em;
	padding: .3em;
	margin-top: 3em;
	background-color: rgba(0,0,0,.5);
}

.playerBox {
	float: left;
	margin-left: 20%;
}

.opponentBox {
	height: 11em;
	float: right;
	margin-right: 20%;
}